//
   Created by gaozy on 6/6/21.

extends ../template/layout

block content
    main(role="main")
    div(class="container")
        div(class="card")
            div(class="card-body")
                h2(class="card-title") XDN Web Service Demo
                hr
                p(class="card-text" align="justify").
                    This is the XDN Web Service demo page.
                    You may use this page to create a temporary XDN application on our platform.
                    The application can only run for 10 minutes on our platform, then will be deleted.
                    If you want to create a long-running XDN application,
                    please register an account on <a href="/">XDN</a>.

                // p(class="card-text" align="justify") Find out how to use this page on
                // a(href="http://date.cs.umass.edu/gaozy/xdn-service.html" target="_blank") XDN instruction page.
                //ul() The meaning of the fields in the following form is described here:
                //    li() Email: your email address.
                //    li() Username:
                //    li()
                //    li()
        form(id="answer" action="/demo/result" method="POST" onsubmit="return validateForm()")
            div(class="card")
                div(class="card-body")
                    h4(class="card-title") Create an XDN service
                    p Fill out the following form to deploy an XDN application.

                div(class="form-group")
                    div(class="card-body")
                        label(for="email") Email
                        input(type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email")
                        small(id="emailHelp" class="form-text text-muted") Please enter a valid email address.

                div(class="form-group")
                    div(class="card-body")
                        label(for="name") Username
                        input(type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Enter username")
                        small(id="nameHelp" class="form-text text-muted") Please enter a username

                div(class="form-group")
                    div(class="card-body")
                        div(class="input-group-prepend")
                            label(class="input-group-text" for="docker") Docker
                            select(class="custom-select form-control" id="docker" name="docker")
                                option(selected value="0") Choose...
                                option(value="1") WebCounter(NodeJS)
                        small(id="dockerHelp" class="form-text text-muted") Please select a Docker as your XDN application


                div(class="form-group")
                    div(class="card-body")
                        div(class="input-group-prepend")
                            label(class="input-group-text" for="domain") Domain<a href="#exp">*</a>
                            select(class="custom-select form-control" id="domain" name="domain")
                                option(selected value="0") Choose...
                                option(value="1") xdnedge.xyz
                        small(id="domainHelp" class="form-text text-muted") Please select a domain name for your application, see * for more details.

            div(class="text-right")
                button(type="submit" class="btn btn-primary pull-right" id="submitButton") Create an XDN Application

        div(class="card" id="exp")
            div(class="card-body")
                p(class="card-text" align="justify").
                    * We have a default domain name "xdnedge.xyz" for our customers to use.
                    Once you successfully run your Docker application on XDN, you will get a
                    subdomain name of the default "xdnedge.xyz". The subdomain name is a
                    concatenation of your username, your docker name, and the default domain name.
                    For example, a subdomain for a username "www" and a docker name "demo" is
                    "www.demo.xdnedge.xyz".
                p(class="card-text" align="justify").
                    For more information on how to use this page to run an application on XDN, please check this page:
                a(href="http://date.cs.umass.edu/gaozy/xdn-demo-service.html" target="_blank") http://date.cs.umass.edu/gaozy/xdn-demo-service.html

    script(type="text/javascript").
        function validateForm() {
            // const REGEX="[0-9]{1,5}\:[0-9]{1,5}";
            var finished = true;

            if (document.getElementById("answer")["email"].value == '')
                finished = false;
            if (document.getElementById("answer")["name"].value == '')
                finished = false;
            if (document.getElementById("answer")["docker"].value == '0')
                finished = false;
            if (document.getElementById("answer")["domain"].value == '0')
                finished = false;

            // window.alert("docker:"+document.getElementById("answer")["docker"].value);
            // window.alert("domain:"+document.getElementById("answer")["domain"].value);
            // window.alert("finished:" + finished);
            // finished = true;

            if (!finished) {
                window.alert("Please finish filling out the form before submission.");
                return false;
            }

            if (confirm('Create your service now?')) {
                // document.getElementById("answer")["domain"] = document.getElementById("answer")["domain"].value;
                // document.getElementByGroup("form-group").submit();
                document.getElementsByClassName("form-group").submit();
                // $(".form-group").submit();
            } else {
                return false;
            }
        }

        $(function () {
            $("#domain1").click(function () {
                // window.alert("Domain name "+$(this).text()+" is selected!");
                $("#domain").text($(this).text()).val($(this).text());
                e.preventDefault();
            });
        });

        $(function () {
            $("#node").click(function () {
                // window.alert("Docker " + $(this).text() + " is selected!");
                $("#docker").text($(this).text()).val($(this).text());
                e.preventDefault();
                // $("#domain:first-child").val($(this).text());

            });
        });

//        $("#node").click(function (e) {
//            window.alert('selected!');
//            document.getElementById("answer")["docker"] = 'node';
//            $('#docker').text = 'WebCounter (NodeJS)';
//            //do something
//            e.preventDefault();
//        });


